<p>Hello netakademia</p>

<app-event></app-event>

<app-event></app-event>
<app-event></app-event>
<app-event></app-event>
<ul>
  <li *ngFor=" let elem of events">{{elem }}</li>
</ul>
<div *ngIf="show">
  <p>Sebok Tihamer</p>
</div>

<div [ngClass]="{'valami': show}">
  <p>ngClass demo</p>
</div>
<input type="text" [(ngModel)]="inputContent">

<div>{{inputContent}}</div>

<button (click)="toggle()"
        (mouseover)="demo($event)"
        [disabled]="!klikkeljunke">
          Toggle
</button>
<div>{{title | uppercase }}</div>
<div>{{pipeDemo | json}}</div>
<app-listdemo></app-listdemo>
